main {
    background-color: #F8F8F8;
    padding: 100px 0px 100px 0px;
}

main img {
    width: 75%;
}
.texto-cinza {
    color: #B3B3B3;
    line-height: 25px;
    margin-bottom: 40px;
}

@media (max-width:768px) {
    main img {
        width: 90%;
    }
}